<div class="attendance-data-navigator">
	<ul class="nav nav-pills">
	  <li class="<%= is_active?("dashboard#attendance_specific_day")  %>"><%= link_to "Specific Day", dashboard_attendance_specific_day_path %></li>
	  <li class="<%= is_active?("dashboard#attendance_time_period")  %>"><%= link_to "Time Period", dashboard_attendance_time_period_path(:view_type => "complete") %></li>
	  <li class="<%= is_active?("dashboard#attendance_time_period")  %>"><%= link_to "Time Period (Consolidated)", dashboard_attendance_time_period_path(:view_type => "consolidated") %></li>
	</ul>
</div>