<div class="panel-header">
  <div class="left-side"><h3>Attendance Specific Day:</h3></br></div>
</div>
<div class="attendance-navigator-container">

	<%= form_tag({controller:"dashboard",action:"attendance_specific_day"}, method: "get") do %>
  <%= render "store_chooser_dropdown" %>
  <div class="date-chooser-container">
    <div class= "inline-form-element more-side-margins">Date: </div>
		<input type="text" class="inline-form-element" value="<%= @date.strftime("%d-%m-%Y") %>" id="attendance-data-date-chooser" name="date" >
	</div>
	<%= submit_tag "Go", :class => "proceed-button" %>
  <%= link_to "Download XLS", dashboard_attendance_specific_day_path(format: :xls,date: @date.strftime("%d-%m-%Y")), class:'medium-button right-side' %>
  <% end %>

</div>
<table class="list-table">
  <thead>
    <tr>
      <th>Store Name</th>
      <th>Opening Time</th>
      <th>Closing Time</th>
    </tr>
  </thead>
  <tbody>
    <% @attendance_data_paginated_grouped.each_value do |grouped_data| %>
    <tr>
      <td><%= grouped_data[0]["store"].name %></td>
      <td><%= grouped_data[0]["store"].opening_time_on(@date) %></td>
      <td><%= grouped_data[0]["store"].closing_time_on(@date) %></td>
    </tr>
    <table class="list-table">
      <thead>
        <tr>
          <th>Store </th>
          <% if @employee_code_enabled %>
            <th>Employee Code</th>
          <% end %>
          <th>Employee</th>
          <% if @employee_designation_enabled %>
            <th>Employee Designation</th>
          <% end %>
          <th>In Time</th>
          <th>In Photo</th>
          <th>Out Time</th>
          <th>Out Photo</th> 
          <% if @mid_day_enabled or @mid_day_in_out_enabled %>
            <th>Mid Day</th> 
          <% end %>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% grouped_data.each do |attendance_data| %>
          <tr>
            <td> <%= attendance_data['employee'].store.name %></td>
            <% if @employee_code_enabled %>
              <td> <%= attendance_data['employee'].code %></td>
            <% end %>
            <td> <%= attendance_data['employee'].name %></td>
            <% if @employee_designation_enabled %>
              <td> <%= attendance_data['employee'].designation %></td>
            <% end %>
            <td><%= print_hyphen_if_empty(attendance_data['in_time']) %></td>
              <td>
                <% if attendance_data['in_photo'].present? %> 
                  <div class = "centering-table">
                    <div class = "centering-table-cell">
                      <%= image_tag attendance_data['in_photo'].image.url(:thumb) %> 
                      </br>
                      <div class="<%= is_attendance_verified(attendance_data['in_status']) %>" >
                        <%= attendance_data['in_status'].tr('_', ' ').capitalize if attendance_data['in_status'] %>
                      </div>
                    </div>
                  </div>
                <% else %>
                  -
                <% end %>
              </td>
              <td><%= print_hyphen_if_empty(attendance_data['out_time']) %></td>
              <td>
                <% if attendance_data['out_photo'].present? %> 
                  <div class = "centering-table">
                    <div class = "centering-table-cell">
                      <%= image_tag attendance_data['out_photo'].image.url(:thumb) %> 
                      </br>
                      <div class="<%= is_attendance_verified(attendance_data['out_status']) %>" >
                        <%= attendance_data['out_status'].tr('_', ' ').capitalize if attendance_data['out_status'] %>
                      </div>
                    </div>
                  </div>
                <% else %>
                  -
                <% end %>
              </td>
            <% if @mid_day_enabled or @mid_day_in_out_enabled %>
              <td>
                <button type="button" class="medium-button" id = "popover" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<%= attendance_data['mid_day_tabulated_data'] %>">
                  Mid-Day
                </button>
              </td> 
            <% end %>
            <td> 
                <div class="<%= is_present(attendance_data['status']) %>">
                  <%= attendance_data['status'].tr('_', ' ').capitalize %>
                </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
</table>

<hr>
<div id="pagination_navigation">
  <%= paginate @attendance_data_paginated %>
</div>
