<div class="panel-header">
  <div class="left-side"><h3>Attendance Time-Period (Detailed):</h3></br></div>
</div>
<div class="attendance-navigator-container">
	<%= form_tag({controller:"dashboard",action:"attendance_time_period_detailed"}, method: "get") do %>
  <div class="time-period-chooser-container">
    <div class= "inline-form-element more-side-margins">Time Period: From </div>
		<input type="text" class="inline-form-element" value="<%= @start_date.strftime("%d-%m-%Y") %>" id="attendance-data-time-period-start-chooser" name="time_period_start" >
		<div class= "inline-form-element more-side-margins">to</div>
		<input type="text" class="inline-form-element" value="<%= @end_date.strftime("%d-%m-%Y") %>" id="attendance-data-time-period-end-chooser" name="time_period_end" >

	</div>
	<%= submit_tag "Go", :class => "proceed-button"%>
  <div class="btn-group right-side">
    <button type="button" class="medium-button dropdown-toggle" data-toggle="dropdown">
      Download XLS <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><%= link_to "Group By Date", dashboard_attendance_time_period_detailed_path(format: :xls,time_period_start: @start_date.strftime("%d-%m-%Y"),time_period_end: @end_date.strftime("%d-%m-%Y"), group_by: "date") %></li>
      <li><%= link_to "Group By Employee", dashboard_attendance_time_period_detailed_path(format: :xls,time_period_start: @start_date.strftime("%d-%m-%Y"),time_period_end: @end_date.strftime("%d-%m-%Y"), group_by: "employee") %></li>
    </ul>
  </div>
  <%#= link_to "Download XLS", dashboard_attendance_time_period_detailed_path(format: :xls,time_period_start: @start_date.strftime("%d-%m-%Y"),time_period_end: @end_date.strftime("%d-%m-%Y")) , class:'medium-button right-side' %>
  <% end %>
</div>
<table class="list-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Store </th>
      <th>Employee</th>
      <th>In Time</th>
      <th>In Photo</th>
      <th>Out Time</th>
      <th>Out Photo</th> 
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @attendance_data_paginated.each do |attendance_data| %>
      <tr>
        <td> <%= attendance_data['date'] %></td>
        <td> <%= attendance_data['store'].name %></td>
        <td> <%= attendance_data['employee'].name %></td>
        <td><%= print_hyphen_if_empty(attendance_data['in_time']) %></td>
          <td>
            <% if attendance_data['in_photo'].present? %> 
              <div class = "centering-table">
                <div class = "centering-table-cell">
                  <%= image_tag attendance_data['in_photo'].image.url(:thumb) %> 
                  </br>
                  <div class="<%= is_attendance_verified(attendance_data['in_status']) %>" >
                    <%= attendance_data['in_status'].tr('_', ' ').capitalize if attendance_data['in_status'] %>
                  </div>
                </div>
              </div>
            <% else %>
              -
            <% end %>
          </td>
          <td><%= print_hyphen_if_empty(attendance_data['out_time']) %></td>
          <td>
            <% if attendance_data['out_photo'].present? %> 
              <div class = "centering-table">
                <div class = "centering-table-cell">
                  <%= image_tag attendance_data['out_photo'].image.url(:thumb) %> 
                  </br>
                  <div class="<%= is_attendance_verified(attendance_data['out_status']) %>" >
                    <%= attendance_data['out_status'].tr('_', ' ').capitalize if attendance_data['out_status'] %>
                  </div>
                </div>
              </div>
            <% else %>
              -
            <% end %>
          </td>
        <td> 
            <div class="<%= is_present(attendance_data['status']) %>">
              <%= attendance_data['status'].tr('_', ' ').capitalize %>
            </div>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<div id="pagination_navigation">
  <%= paginate @attendance_data_paginated %>
</div>

