<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Attendance Register">  	  
    <Table>
      <Row>        
        <% if @employee_code_enabled %>
          <Cell><Data ss:Type="String">Employee Code</Data></Cell>
        <% end %>
        <Cell><Data ss:Type="String">Employee</Data></Cell>
        <% if @employee_designation_enabled %>
          <Cell><Data ss:Type="String">Employee Designation</Data></Cell>
        <% end %>
        <Cell><Data ss:Type="String">Store</Data></Cell>
        <% @dates_all.each do |date|%>
        	<Cell><Data ss:Type="String"><%= date.strftime("%d") + "-In" %></Data></Cell>
        	<Cell><Data ss:Type="String"><%= date.strftime("%d") + "-Out"%></Data></Cell>
        <% end %>
      </Row>
    <% @grouped_attendance_data.each do |key, grouped_data|%>	    
	      <Row>
	      	<% employee = grouped_data.first.fetch('employee') %>
          <% store = grouped_data.first.fetch('store') %>
	      	<% if @employee_code_enabled %>
	          <Cell><Data ss:Type="String"><%= employee.code %></Data></Cell>
	        <% end %>
	        <Cell><Data ss:Type="String"><%= employee.name %></Data></Cell>
	        <% if @employee_designation_enabled %>
	          <Cell><Data ss:Type="String"><%= employee.designation %></Data></Cell>
	        <% end %>	        
	        <Cell><Data ss:Type="String"><%= store.name %></Data></Cell>
          <% @dates_all.each do |date|%>
            <% attendance_data_for_date = grouped_data.select{|attendance_data| attendance_data["date"] == date }.first %>
              <% if attendance_data_for_date.present? %>
    	        	<Cell><Data ss:Type="String"><%= attendance_data_for_date['in_attendance_status'].first.capitalize %></Data></Cell>
    	        	<Cell><Data ss:Type="String"><%= attendance_data_for_date['out_attendance_status'].first.capitalize %></Data></Cell>
              <% else %>
                <Cell><Data ss:Type="String">Did not belong to this store</Data></Cell>
                <Cell><Data ss:Type="String">Did not belong to this store</Data></Cell>
              <% end %>
          <% end %>
	      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>