<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <% @grouped_attendance_data.each do |key, data|%>
  <Worksheet ss:Name="<%= key %>">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Date</Data></Cell>
        <Cell><Data ss:Type="String">Store</Data></Cell>
        <% if @employee_code_enabled %>
          <Cell><Data ss:Type="String">Employee Code</Data></Cell>
        <% end %>
        <Cell><Data ss:Type="String">Employee</Data></Cell>
        <% if @employee_designation_enabled %>
          <Cell><Data ss:Type="String">Employee Designation</Data></Cell>
        <% end %>
        <Cell><Data ss:Type="String">In Time</Data></Cell>
        <Cell><Data ss:Type="String">Out Time</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
      </Row>
    <% data.each do |attendance_data| %>
      <Row>
        <Cell><Data ss:Type="String"><%= attendance_data['date'].strftime("%d-%m-%Y") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= attendance_data['employee'].store.name %></Data></Cell>
        <% if @employee_code_enabled %>
          <Cell><Data ss:Type="String"><%= attendance_data['employee'].code %></Data></Cell>
        <% end %>
        <Cell><Data ss:Type="String"><%= attendance_data['employee'].name %></Data></Cell>
        <% if @employee_designation_enabled %>
          <Cell><Data ss:Type="String"><%= attendance_data['employee'].designation %></Data></Cell>
        <% end %>
        <Cell><Data ss:Type="String"><%= print_hyphen_if_empty(attendance_data['in_time']) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= print_hyphen_if_empty(attendance_data['out_time']) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= print_hyphen_if_empty(attendance_data['status']) %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
  <% end %>
</Workbook>