<div class="panel-header">
  <div class="left-side"><h3>Attendance:</h3></br></div>
</div>
<div class="attendance-navigator-container">
	<%= render "attendance_data_navigator" %>
	<%= form_tag({controller:"dashboard",action:"attendance_time_period"}, method: "get") do %>
  <div class="time-period-chooser-container">
		<input type="text" class="inline-form-element" value="<%= @start_date.strftime("%d-%m-%Y") %>" id="attendance-data-time-period-start-chooser" name="time_period_start" >
		<div class= "inline-form-element more-side-margins">to</div>
		<input type="text" class="inline-form-element" value="<%= @end_date.strftime("%d-%m-%Y") %>" id="attendance-data-time-period-end-chooser" name="time_period_end" >
    <div class= "inline-form-element more-side-margins">(Working Days : <%= @working_days %>)</div>

	</div>
	<%= submit_tag "Go", :class => "proceed-button" %>
  <% end %>
</div>
<table class="list-table">
  <thead>
    <tr>
      <th>Store </th>
      <th>Employee</th>
      <th>Present Count (days)</th>
      <th>Absent Count (days)</th> 
      <th>Leave Count (days)</th>      
    </tr>
  </thead>
  <tbody>
    <% @attendance_data_paginated.each do |attendance_data| %>
      <tr>
        <td> <%= attendance_data['employee'].store.name %></td>
        <td> <%= attendance_data['employee'].name %></td>
        <td> <%= print_hyphen_if_empty(attendance_data['present_count']) %></td>
        <td> <%= print_hyphen_if_empty(attendance_data['absent_count']) %></td>
        <td> <%= print_hyphen_if_empty(attendance_data['leave_count']) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<div id="pagination_navigation">
  <%= paginate @attendance_data_paginated %>
</div>
<%= link_to "Download XLS", '/dashboard/attendance_time_period.xls' , class:'medium-button' %>
