<div class="panel-header">
  <h3>Attendance Time-Period (Consolidated):</h3></br>
</div>
<div class="attendance-navigator-container">
	<%= form_tag({controller:"dashboard",action:"attendance_time_period_consolidated"}, method: "get") do %>
    <div class = "row">
      <div class = "col-xs-2">
        <%= render "store_chooser_dropdown" %>
      </div>
      <div class = "col-xs-7">
        <%= render "time_period_chooser_container" %>
      </div>
      <div class = "col-xs-1">
  	    <%= submit_tag "Go", :class => "proceed-button"%>
      </div>
      <div class = "col-xs-2">
        <%= link_to "Download XLS", dashboard_attendance_time_period_consolidated_path(format: :xlsx,time_period_start: @start_date.strftime("%d-%m-%Y"),time_period_end: @end_date.strftime("%d-%m-%Y"), stores: @stores_to_display) , class:'medium-button right-side' %>
      </div>
    </div>
  <% end %>
</div>
<table class="list-table">
  <thead>
    <tr>
      <th>Store </th>      
      <% if @employee_code_enabled %>
        <th>Employee Code</th>
      <% end %>
      <th>Employee</th>
      <% if @employee_designation_enabled %>
        <th>Employee Designation</th>
      <% end %>
      <th>Present Count (days)</th>
      <th>Absent Count (days)</th> 
      <th>Leave Count (days)</th>      
    </tr>
  </thead>
  <tbody>
    <% @attendance_data_paginated.each do |attendance_data| %>
      <tr>
        <td> <%= attendance_data['store'].name %></td>
        <% if @employee_code_enabled %>
          <td> <%= attendance_data['employee'].code %> </td>
        <% end %>
        <td> <%= attendance_data['employee'].name %></td>
        <% if @employee_designation_enabled %>
          <td> <%= attendance_data['employee'].designation %></td>
        <% end %>
        <td> <%= print_hyphen_if_empty(attendance_data['present_count']) %></td>
        <td> <%= print_hyphen_if_empty(attendance_data['absent_count']) %></td>
        <td> <%= print_hyphen_if_empty(attendance_data['leave_count']) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<div id="pagination_navigation">
  <%= paginate @attendance_data_paginated %>
</div>

