<div class="panel-header">
  <div class="left-side"><h3>Attendance Time-Period (Detailed):</h3></br></div>
</div>
<div class="attendance-navigator-container">
	<%= form_tag({controller:"dashboard",action:"attendance_time_period_detailed"}, method: "get") do %>
  <%= render "store_chooser_dropdown" %>
  <%= render "time_period_chooser_container" %>
	<%= submit_tag "Go", :class => "proceed-button"%>
  <div class="btn-group right-side">
    <button type="button" class="medium-button dropdown-toggle" data-toggle="dropdown">
      Download XLS <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><%= link_to "Group By Date", dashboard_attendance_time_period_detailed_path(format: :xls,time_period_start: @start_date.strftime("%d-%m-%Y"),time_period_end: @end_date.strftime("%d-%m-%Y"), group_by: "date", stores: @stores_to_display) %></li>
      <li><%= link_to "Group By Employee", dashboard_attendance_time_period_detailed_path(format: :xls,time_period_start: @start_date.strftime("%d-%m-%Y"),time_period_end: @end_date.strftime("%d-%m-%Y"), group_by: "employee", stores: @stores_to_display) %></li>
      <li><%= link_to "Attendance Register", dashboard_attendance_time_period_detailed_path(format: :xls,time_period_start: @start_date.strftime("%d-%m-%Y"),time_period_end: @end_date.strftime("%d-%m-%Y"), attendance_register: "true", stores: @stores_to_display ) %></li>
    </ul>
  </div>
  <% end %>
</div>
<table class="list-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Store </th>
      <% if @employee_code_enabled %>
        <th>Employee Code</th>
      <% end %>
      <th>Employee</th>
      <% if @employee_designation_enabled %>
        <th>Employee Designation</th>
      <% end %>
      <th>In Time</th>
      <th>In Photo</th>
      <th>Out Time</th>
      <th>Out Photo</th> 
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @attendance_data_paginated.each do |attendance_data| %>
      <tr>
        <td> <%= attendance_data['date'].strftime("%d-%m-%Y") %></td>
        <td> <%= attendance_data['store'].name %></td>
        <% if @employee_code_enabled %>
          <td> <%= attendance_data['employee'].code %></td>
        <% end %>
        <td> <%= attendance_data['employee'].name %></td>
        <% if @employee_designation_enabled %>
          <td> <%= attendance_data['employee'].designation %></td>
        <% end %>
        <td><%= print_hyphen_if_empty(attendance_data['in_time']) %></td>
          <td>
            <% if attendance_data['in_photo'].present? %> 
              <div class = "centering-table">
                <div class = "centering-table-cell">
                  <%= image_tag attendance_data['in_photo'].image.url(:thumb) %> 
                  </br>
                  <div class="<%= is_attendance_verified(attendance_data['in_status']) %>" >
                    <%= attendance_data['in_status'].tr('_', ' ').capitalize if attendance_data['in_status'] %>
                  </div>
                </div>
              </div>
            <% else %>
              -
            <% end %>
          </td>
          <td><%= print_hyphen_if_empty(attendance_data['out_time']) %></td>
          <td>
            <% if attendance_data['out_photo'].present? %> 
              <div class = "centering-table">
                <div class = "centering-table-cell">
                  <%= image_tag attendance_data['out_photo'].image.url(:thumb) %> 
                  </br>
                  <div class="<%= is_attendance_verified(attendance_data['out_status']) %>" >
                    <%= attendance_data['out_status'].tr('_', ' ').capitalize if attendance_data['out_status'] %>
                  </div>
                </div>
              </div>
            <% else %>
              -
            <% end %>
          </td>
        <td> 
            <div class="<%= is_present(attendance_data['status']) %>">
              <%= attendance_data['status'].tr('_', ' ').capitalize %>
            </div>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<div id="pagination_navigation">
  <%= paginate @attendance_data_paginated %>
</div>

