<div class="panel-header">
  <div class="left-side"><h3>Attendance:</h3></br></div>
</div>
<div class="attendance-navigator-container">
	<%= render "attendance_data_navigator" %>
	<%= form_tag({controller:"dashboard",action:"attendance_specific_day"}, method: "get") do %>
  <div class="date-chooser-container">
		<input type="text" class="form-element" value="<%= @date.strftime("%d-%m-%Y") %>" id="attendance-data-date-chooser" name="date" >
	</div>
	<%= submit_tag "Go", :class => "proceed-button" %>
  <% end %>
</div>

<table class="list-table">
  <thead>
    <tr>
      <th>Store </th>
      <th>Employee</th>
      <th>In Time</th>
      <th>Out Time</th> 
    </tr>
  </thead>
  <tbody>
    <% @attendance_data.each do |attendance_data| %>
      <tr>
        <td> <%= attendance_data['employee'].store.name %></td>
        <td> <%= attendance_data['employee'].name %></td>
        <td> 
          <%= print_hyphen_if_empty(attendance_data['in_time']) %>
          <% if attendance_data['in_time'].present? %>
            <div class="<%= is_attendance_verified(attendance_data['in_status']) %> attendance-status-popover"
         data-toggle="tooltip" data-placement="right" title="It may take upto 6 hours to verify the photo."><%= attendance_data['in_status'].tr('_', ' ').capitalize if attendance_data['in_status']%></div>
          <% end %>
        </td>
        <td> 
          <%= print_hyphen_if_empty(attendance_data['out_time']) %>
          <% if attendance_data['out_time'].present? %>
            <div class="<%= is_attendance_verified(attendance_data['out_status']) %> attendance-status-popover"
         data-toggle="tooltip" data-placement="right" title="It may take upto 6 hours to verify the photo."><%= attendance_data['out_status'].tr('_', ' ').capitalize if attendance_data['out_status'] %></div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<div id="pagination_navigation">
  <%#= will_paginate @attendance_data %>
</div>
<%= link_to "Download XLS", '/dashboard/attendance_specific_day.xls' , class:'medium-button' %>
