<div class="centering-table">
	<div class="centering-table-cell">
		<h1><%= @photo.user.name %>, your '<%= @photo.description %>' attendance has been marked at</h1>
		<h1><%= @photo.updated_at.strftime("%I:%M%p, %d/%m/%y") %></h1>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="centering-table">
			<div class="centering-table-cell">
				<%= link_to "Mark Another Attendance", dashboard_choose_employee_name_path, class:"big-button" %>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="centering-table">
			<div class="centering-table-cell">
				<%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"big-button" %>
			</div>
		</div>
	</div>
</div>
