<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Store</Data></Cell>
        <Cell><Data ss:Type="String">Employee</Data></Cell>
        <Cell><Data ss:Type="String">In Time</Data></Cell>
        <Cell><Data ss:Type="String">Out Time</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
      </Row>
    <% @attendance_data.each do |attendance_data| %>
      <Row>
        <Cell><Data ss:Type="String"><%= attendance_data['employee'].store.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= attendance_data['employee'].name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= print_hyphen_if_empty(attendance_data['in_time']) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= print_hyphen_if_empty(attendance_data['out_time']) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= print_hyphen_if_empty(attendance_data['status']) %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>