<h1 class="center-text"><%= @employee.name %>, select one:</h1>
<div class="row">
	<div class="col-md-6">
		<div class="centering-table">
			<div class="centering-table-cell">
				<%= form_tag({controller:"photos",action:"new"}, method: "post") do %> 
					<input type="hidden" value="<%= @employee.id %>" name="employee" >	
					<input type="hidden" value="in" name="description" >		
					<%= submit_tag "In", :class => "big-button" %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="centering-table">
			<div class="centering-table-cell">
				<%= form_tag({controller:"photos",action:"new"}, method: "post") do %> 
					<input type="hidden" value="<%= @employee.id %>" name="employee" >	
					<input type="hidden" value="out" name="description" >		
					<%= submit_tag "Out", :class => "big-button" %>
				<% end %>
			</div>
		</div>
	</div>
</div>