<h1 class="center-text"><%= @employee.name %>, select one:</h1>
<% if @store.in_out_enabled %>
<div class="row">
	<div class="col-md-6">
		<div class="centering-table">
			<div class="centering-table-cell">
				<%= form_tag({controller:"photos",action:"new"}, method: "post") do %> 
					<input type="hidden" value="<%= @employee.id %>" name="employee" >	
					<input type="hidden" value="in" name="description" >		
					<% if @in_attendance_marked_for_today %>
						<%= submit_tag "In", :class => "big-button", data: { confirm: attendance_marked_message(@employee,"In",@in_attendance_time) }  %>
					<% else %>
						<%= submit_tag "In", :class => "big-button" %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="centering-table">
			<div class="centering-table-cell">
				<%= form_tag({controller:"photos",action:"new"}, method: "post") do %> 
					<input type="hidden" value="<%= @employee.id %>" name="employee" >	
					<input type="hidden" value="out" name="description" >		
					<% if @out_attendance_marked_for_today %>
						<%= submit_tag "Out", :class => "big-button", data: { confirm: attendance_marked_message(@employee,"Out",@out_attendance_time) }  %>
					<% else %>
						<%= submit_tag "Out", :class => "big-button" %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<% end %>
<% if @store.mid_day_in_out_enabled %>
<div class="row">
	<div class="col-md-6">
		<div class="centering-table">
			<div class="centering-table-cell">
				<%= form_tag({controller:"photos",action:"new"}, method: "post") do %> 
					<input type="hidden" value="<%= @employee.id %>" name="employee" >	
					<input type="hidden" value="mid_day_in" name="description" >						
					<%= submit_tag "Mid-day In", :class => "big-button" %>					
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="centering-table">
			<div class="centering-table-cell">
				<%= form_tag({controller:"photos",action:"new"}, method: "post") do %> 
					<input type="hidden" value="<%= @employee.id %>" name="employee" >	
					<input type="hidden" value="mid_day_out" name="description" >		
					<%= submit_tag "Mid-day Out", :class => "big-button" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<% end %>
<% if @store.mid_day_enabled %>
		<div class="centering-table">
			<div class="centering-table-cell">
				<%= form_tag({controller:"photos",action:"new"}, method: "post") do %> 
					<input type="hidden" value="<%= @employee.id %>" name="employee" >	
					<input type="hidden" value="mid_day_present" name="description" >		
					<%= submit_tag "Mid-day", :class => "big-button" %>
				<% end %>
			</div>
		</div>	
<% end %>