<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
      	<Cell><Data ss:Type="String">Employee</Data></Cell>
        <Cell><Data ss:Type="String">Date</Data></Cell>
        <Cell><Data ss:Type="String">In Time</Data></Cell>
        <Cell><Data ss:Type="String">Out Time</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
      </Row>
    <% @dates_all.each do |date| %>
      <Row>
      	<Cell><Data ss:Type="String"><%= @employee.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= date.strftime("%d-%m-%Y") %></Data></Cell>
        <% attendance_data_for_date = @attendance_data[date.strftime("%d-%m-%Y")] %>
        <% if attendance_data_for_date.present? %>
	        <Cell><Data ss:Type="String"><%= print_hyphen_if_empty(attendance_data_for_date['in']) %></Data></Cell>
	        <Cell><Data ss:Type="String"><%= print_hyphen_if_empty(attendance_data_for_date['out']) %></Data></Cell>
	        <Cell><Data ss:Type="String"><%= attendance_data_for_date['status'].tr('_', ' ').capitalize %></Data></Cell>
	    <% else %>
	    	<Cell><Data ss:Type="String">-</Data></Cell>
	        <Cell><Data ss:Type="String">-</Data></Cell>
	        <Cell><Data ss:Type="String">Absent</Data></Cell>
	    <% end %>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>