<div class="panel-header">
  <div class="left-side">
    <h3>Attendance Record for:</h3>
    <h3><%= @employee.name%></h3>
    <% if @employee_designation_enabled %>
      <h4><%= print_hyphen_if_empty(@employee.designation)%></h4>
    <% end %>
    <% if @employee_code_enabled %>
      <h4><%= print_hyphen_if_empty(@employee.code) %></h4>
    <% end %>
  </div>
</div>
<div class="attendance-navigator-container">
  <%= render "employee_chooser_dropdown" , employee_id: @employee.id %>
	<%= form_tag({controller:"dashboard",action:"employee_attendance_record"}, method: "get") do %>
  <div class="time-period-chooser-container">
		<input type="text" class="inline-form-element" value="<%= @start_date.strftime("%d-%m-%Y") %>" id="attendance-data-time-period-start-chooser" name="time_period_start" >
		<div class= "inline-form-element more-side-margins">to</div>
		<input type="text" class="inline-form-element" value="<%= @end_date.strftime("%d-%m-%Y") %>" id="attendance-data-time-period-end-chooser" name="time_period_end" >
	</div>
  <input type="hidden"  value="<%= @employee.id %>" name="employee_id" >
	<%= submit_tag "Go", :class => "proceed-button" %>
  <%= link_to "Download XLS", dashboard_employee_attendance_record_path(format: :xls,time_period_start: @start_date.strftime("%d-%m-%Y"),time_period_end: @end_date.strftime("%d-%m-%Y"), employee_id: @employee.id) , class:'medium-button right-side' %>
  <% end %>
</div>
<table class="list-table">
  <thead>
    <tr>
      <th>Date </th>
      <th>Store </th>
      <th>In Time</th>
      <th>In Photo</th>
      <th>Out Time</th>
      <th>Out Photo</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @dates_paginated.each do |date| %>
      <tr>
        <td> <%= date.strftime("%d-%m-%Y") %></td>
        <% attendance_data_for_date = @attendance_data_for[date.strftime("%d-%m-%Y")] %>
        <td><%= attendance_data_for_date['store'].name %></td>
          <td><%= print_hyphen_if_empty(attendance_data_for_date['in_time']) %></td>
          <td>
            <% if attendance_data_for_date['in_photo'].present? %> 
              <div class = "centering-table">
                <div class = "centering-table-cell">
                  <%= image_tag attendance_data_for_date['in_photo'].image.url(:thumb) %> 
                  </br>
                  <div class="<%= is_attendance_verified(attendance_data_for_date['in_status']) %>" >
                    <%= attendance_data_for_date['in_status'].tr('_', ' ').capitalize if attendance_data_for_date['in_status'] %>
                  </div>
                </div>
              </div>
            <% else %>
              -
            <% end %>
          </td>
          <td><%= print_hyphen_if_empty(attendance_data_for_date['out_time']) %></td>
          <td>
            <% if attendance_data_for_date['out_photo'].present? %> 
              <div class = "centering-table">
                <div class = "centering-table-cell">
                  <%= image_tag attendance_data_for_date['out_photo'].image.url(:thumb) %> 
                  </br>
                  <div class="<%= is_attendance_verified(attendance_data_for_date['out_status']) %>" >
                    <%= attendance_data_for_date['out_status'].tr('_', ' ').capitalize if attendance_data_for_date['out_status'] %>
                  </div>
                </div>
              </div>
            <% else %>
              -
            <% end %>
          </td>
          <td> 
            <div class="<%= is_present(attendance_data_for_date['status']) %>">
              <%= attendance_data_for_date['status'].tr('_', ' ').capitalize %>
            </div>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<div id="pagination_navigation">
  <%= paginate @dates_paginated %>
</div>