<%= javascript_include_tag "verification" %>
<div class="photo-container">
  <% @photos.each do |photo| %>
    <div class="container photo-container-element center-text well">
          <div class="row">
            <div class="col-md-5 "><h3>Test</h3></div>
            <div class="col-md-2"></div>
            <div class="col-md-5 "><h3>Original</h3></div>
          </div>
          <div class="row">
            <div class="col-md-5 "><%= image_tag(photo.image.url(:original), size: "400x300")%></div>
            <div class="col-md-2">
              <h1><%= photo.user.name %></h1>
            </div>
            <div class="col-md-5 ">
                <div class="row">
                  <div class="col-md-12"><%= image_tag(photo.original.image.url(:original), size: "400x300")%></div>
                </div>
                <div class="row">
                  <% other_verified_photos = photo.other_verified_photos(3) %>
                  <div class="col-md-4"><%= image_tag(other_verified_photos[0].image.url(:original), size: "133x100")%></div>
                  <div class="col-md-4"><%= image_tag(other_verified_photos[1].image.url(:original), size: "133x100")%></div>
                  <div class="col-md-4"><%= image_tag(other_verified_photos[2].image.url(:original), size: "133x100")%></div>
                </div>             
            </div>
          </div>
      <div class="row name"> 
        <div class="col-md-12"><h3>Is the person in Test Photo same as Original?</h3></div>
      </div>
      <div class="row">
        <div class="col-md-3"><div class='fail-button'>Fail</div></div>
        <div class="col-md-6"> 
          <div class="pass-indicator">Pass</div>
          <div class="pass-indicator">Fail</div>
        </div>
        <div class="col-md-3"><div class='pass-button'>Pass</div></div>
      </div>
    </div>
  <% end %>
</div>
<div class = "photo-verification-form">
  <div class="center-text"><h2>Final Check</h2></div>
  <%= form_tag({controller:"verification",action:"do_verification"}, method: "post") do %> 
    <ul style="list-style: none;">
    <% @photos.each do |photo| %>
    <li>
    <table class="list-table">
      <thead>
        <tr>
          <th>Photo</th>           
          <th>Name</th>
          <th>Original photo</th>
          <th>Verify?</th>
        </tr>
      </thead>
      <tbody>
          <% if photo.user.present? %>
          <tr>      
            <td> <%= image_tag(photo.image.url(:original), size: "400x300")%></td>
            <td><h2><%= photo.user.name %></h2></td>
            <%  if photo.original.present? %>
              <% original_photo = photo.original.image.url(:original) %>
            <% end %>
            <td> <%= image_tag(original_photo, size: "400x300") %></td>
            <td> 
              <input type="hidden" name="verification_status[<%= photo.id %>]" value="verification_rejected">
         			<input type="checkbox" name="verification_status[<%= photo.id %>]" value = "verified"/>
    		    </td>
          </tr>
          <% end %>
      </tbody>
    </table>
    </li>
    <% end %>
    </ul>
    <%= submit_tag "Save", :class => "form-submit-button", :disabled => "disabled" %>
  <% end %>
</div>