<%= javascript_include_tag "verification" %>
<h4 id="status"></h4>
<%= form_tag({controller:"verification",action:"do_verification"}, method: "post") do %> 
<ul style="list-style: none;">
<% @photos.each do |photo| %>
<li>
<table class="list-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Photo</th> 
      <th>Original photo</th>
      <th>Verify?</th>
    </tr>
  </thead>
  <tbody>
      <% if photo.user.present? %>
      <tr>
      
        <td> <%= photo.user.name %></td>
        <td> <%= image_tag(photo.image.url(:original), size: "250x250")%></td>
        <%  if photo.original.present? %>
          <% original_photo = photo.original.image.url(:original) %>
        <% end %>
        <td> <%= image_tag(original_photo, size: "250x250") %></td>
        <td> 
          <input type="hidden" name="verification_status[<%= photo.id %>]" value="verification_rejected">
     			<input type="checkbox" name="verification_status[<%= photo.id %>]" value = "verified"/>
		    </td>
      </tr>
      <% end %>
  </tbody>
</table>
</li>
<% end %>
</ul>
<%= submit_tag "Save", :class => "form-submit-button", :disabled => "disabled" %>
<% end %>