<h1>Employees</h1>
<div class="attendance-navigator-container">
<%= form_tag({controller:"employees",action:"list"}, method: "get") do %>
  <div class = "row">
    <div class = "col-xs-3">
      <%= render "dashboard/store_chooser_dropdown" %>  
    </div>
    <div class = "col-xs-2">
      <%= submit_tag "Go", :class => "proceed-button"%>
    </div>
  </div>
<% end %>
</div>
<table class="list-table">
  <thead>
    <tr>
      <th>Store </th>
      <% if @employee_code_enabled %>
        <th>Employee Code</th>
      <% end %>
      <th>Photo</th>
      <th>Employee Name</th>
      <% if @employee_designation_enabled %>
        <th>Employee Designation</th>
      <% end %>   
      <th></th>
      <th></th>   
    </tr>
  </thead>
  <tbody>
      <% @employees_to_display_paginated.each do |employee| %>
        <tr>
          <% if @employee_code_enabled %>
            <td> <%= employee.code %></td>
          <% end %>
          <td> <%= employee.store.name %></td>
          <%  if employee.photos.where("description = 'original'").present? %>
            <% original_photo = employee.photos.where("description = 'original'").first.image.url(:thumb) %>
          <% end %>
          <td> 
            <% if original_photo %>
              <%= image_tag(original_photo) %>
            <% else %>
              -
            <% end %>
          </td>
          <td> <%= employee.name %></td>
          <% if @employee_designation_enabled %>
            <td> <%= employee.designation %></td>
          <% end %>       
          <td>            
              <% if employee.is_active? %>
                <%= form_tag({controller:"employees",action:"update"}, method: "post",class:"form-horizontal") do %>
                  <input type="hidden" name ="employee[id]" value="<%= employee.id %>" >
                  <input type="hidden" name ="employee[employee_status]" value="inactive" >
                  <%= submit_tag "Deactivate", :class => "status-negative-indicator" %>              
                <% end %>
              <% else %>
                <div class="status-dead-indicator">
                   Deactivated
                </div>                
              <% end %>
          </td>
          <td>
            <%= link_to "Edit", employees_edit_path(employee_id: employee.id), :method=> :get, class: "medium-button" %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>
<div id="pagination_navigation">
  <%= paginate @employees_to_display_paginated %>
</div>
