<%= javascript_include_tag "employees" %>
<div class = 'row'>
  <div class = 'col-xs-6'>
    <h2>Add Employees</h2>
  </div>
  <div class = 'col-xs-2 col-xs-offset-4'>
    <div class="right-side">
      <div class='medium-button' id = 'add-one-row-button'>+1</div>
      <div class='medium-button' id = 'add-25-rows-button'>+25</div>
    </div>
  </div>
</div>


<%= form_tag({controller:"employees",action:"create"}, method: "post",class:"form-inline") do %>
<table class="list-table">
  <thead>
      <tr>      
        <th>Store</th>
        <% if @employee_code_enabled %>
          <th>Code</th>
        <% end %>
        <th>Name</th>
        <% if @employee_designation_enabled %>
          <th>Designation</th>
        <% end %>  
      </tr>
  </thead>
  <tbody id = 'add-employee-table-body'>   
    <%= render 'add_employee_row' %>
  </tbody>
</table>
  
  <%= submit_tag "Save", :class => "form-submit-button" %>
  <%= submit_tag("Cancel", { :name => 'reset', :id => 'reset_button', :type => "reset", :class => "form-reset-button"}  ) %>
<% end %>