<!DOCTYPE html>
<head>
  <title>Daily Notification</title>
</head>
<body>
<% if @incharge.name.present? %>
Dear <%= @incharge.name%>,
<% else %>
Dear Sir,
<% end %>
<br><br>
Attendance Data 
<br><br>
Summary:
<br>
<table width="350px">
  <tr>
    <th>Store Name</th>
    <th>Closing Time on <%= (@date - 1.day).strftime("%d-%m-%Y") %></th>
    <th>Opening Time on <%= @date.strftime("%d-%m-%Y") %></th>
  </tr>
  <% @stores.each do |store| %>
    <tr>
      <td><%= store.name %></td>
      <td><%= store.closing_time_on(@date - 1.day) ? store.closing_time_on(@date - 1.day) : '-'%>
      <td><%= store.opening_time_on(@date).present? ? store.opening_time_on(@date) : '-' %></td>
    </tr>
  <% end %>
</table>
<br>
Detailed Data:
<br>
<table width="700px">
  <thead>
    <tr>
      <th>Store</th>
      <% if @employee_code_enabled %>
        <th>Employee Code</th>
      <% end %>
      <th>Employee</th>
      <% if @employee_designation_enabled %>
        <th>Employee Designation</th>
      <% end %>
      <th>In Time</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @attendance_data_all.each do |attendance_data| %>
      <tr>
        <td> <%= attendance_data['store'].name %></td>
        <% if @employee_code_enabled %>
          <td> <%= attendance_data['employee'].code %></td>
        <% end %>
        <td> <%= attendance_data['employee'].name %></td>
        <% if @employee_designation_enabled %>
          <td> <%= attendance_data['employee'].designation %></td>
        <% end %>
        <td>
          <%= attendance_data['in_time'].present? ? attendance_data['in_time'] : '-' %>
        </td>
        <td> 
            <%= attendance_data['status'].tr('_', ' ').capitalize %>                    
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br><br>
Regards,<br>
Team Manaple
</body>