<h2>Leave Panel</h2>
<%= form_tag({controller:"leaves",action:"create"}, method: "post") do %>
<div class="btn-group left-side panel-header">
  <div class= "inline-form-element more-side-margins">Leave Request Form:</div>
  <select name="leave_user_id" class="inline-form-element" >
    
    <% @employees.each do |employee| %>
      <option value="<%= employee.id %>"><%= employee.name %></option>
    <% end %> 
  </select>
  <div class="time-period-chooser-container">
    <input type="text" class="inline-form-element" value="<%= Time.zone.now.strftime("%d-%m-%Y") %>" id="attendance-data-time-period-start-chooser" name="leave_start_date" >
    <div class= "inline-form-element more-side-margins">to</div>
    <input type="text" class="inline-form-element" value="<%= Time.zone.now.strftime("%d-%m-%Y") %>" id="attendance-data-time-period-end-chooser" name="leave_end_date">
  </div>
  <%= submit_tag "Apply for Leave", :class => "proceed-button" %>
</div>
<% end %>
</br></br></br>
<h3>Leave Requests:</h3>
<table class="list-table">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Start Date</th>
      <th>End Date</th> 
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @leaves.each do |leave| %>
      <tr>
        <td> <%= leave.user.name %></td>
        <td> <%= leave.start_date.strftime("%d-%m-%Y") %></td>
        <td> <%= leave.end_date.strftime("%d-%m-%Y") %></td>
        <td>
          <div class="<%= is_leave_approved(leave.status) %>">
         <%= leave.status.tr('_', ' ').capitalize %>
       </td>         
      </tr>
    <% end %>
  </tbody>
</table>