<h2>Leave Request Form</h2>
<div class= "clear-sides">
  <div class="form-container-wide left-side has-space-below">
    <%= form_tag({controller:"leaves",action:"create"}, method: "post", class:"form-horizontal") do %>
      <div class ="form-element-group">
        <label class="control-label col-sm-3">Name:</label>
        <div class = "col-sm-6">
          <select name="leave[user_id]" class="form-element">    
            <% @employees.each do |employee| %>
              <option value="<%= employee.id %>"><%= employee.name %></option>
            <% end %> 
          </select>
        </div>
      </div>
      <div class="form-element-group">
          <label for="attendance-data-time-period-start-chooser" class="form-label col-sm-3">Start Date:</label>
          <div class="col-sm-6">
            <input type="text" class="form-element" value="<%= Time.zone.now.strftime("%d-%m-%Y") %>" id="attendance-data-time-period-start-chooser" name="leave[start_date]" >
          </div>
      </div>
      <div class="form-element-group">
          <label for="attendance-data-time-period-end-chooser" class="form-label col-sm-3">End Date:</label>
          <div class="col-sm-6">
            <input type="text" class="form-element" value="<%= Time.zone.now.strftime("%d-%m-%Y") %>" id="attendance-data-time-period-end-chooser" name="leave[end_date]" >
          </div>
      </div>
      <div class="form-element-group">
          <label for="notification-mobile" class="form-label col-sm-3">Reason:</label>
          <div class="col-sm-6">
            <input type="text" class="form-element" id="notification-mobile" placeholder="Enter reason for leave" name="leave[reason]">
          </div>
      </div>
      <div class="col-sm-4 col-sm-offset-4">
        <%= submit_tag "Apply for Leave", :class => "proceed-button" %>
      </div>
    <% end %>
  </div>
</div>
<%= render "leave_list", leaves: @leaves_paginated %>