<h3 class="center-text"><%= @employee.name %> : <%= @description%> </h3>
<h3 class="center-text">Place your face in front of the webcam</h3>
<div class="centering-table">
    <div class = "centering-table-cell">
        <div id="webcam" style="width:640px; height:480px;margin:0 auto"></div>
    </div>
</div>
<script language="JavaScript">
        Webcam.set({
            dest_width: 640,
            dest_height: 480,
            image_format: 'jpeg',
            jpeg_quality: 90
        });
        Webcam.attach( '#webcam' );
        Webcam.setSWFLocation("/public/webcam.swf");
</script>

<div class="centering-table">
    <div class = "centering-table-cell">
        <input type="button" id="take-picture-button" value="Take picture" class="big-button"/>
        <div id = "spinner"></div>
        <div id = "photo-form">
            <%= form_for Photo.new, :html => {:class => "photo-form-button"} do |f| %>
                <%= f.hidden_field :description, :value => @description %>   
                <%= f.hidden_field :user_id, :value => @employee.id %> 
                <%= f.submit "Save the photo", class:"big-button",id:"save-photo-button" %>
            <% end %>
            <%= form_tag({controller:"photos",action:"new"}, method: "post", id:"take-another-picture-button", class:"photo-form-button") do %> 
                <input type="hidden" value="<%= @employee.id %>" name="employee" >  
                <input type="hidden" value="<%= @description %>" name="description" >       
                <%= submit_tag "Take Another", :class => "big-button" %>
            <% end %>
        </div>
    </div>
</div>
